.firstpart{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    row-gap: 80px;
    
}


.firstright{
    background-image: url('../Images/Rectangle%2036.svg');

     background-repeat: no-repeat;
    background-size: cover;

}

.firstimg{
    height: 399px;
    width: 400px;
}