.category-filter {
    margin-bottom: 20px;
  }
  .category-filter button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    background-color: #6fd3b2;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  .category-filter button:hover {
    background-color: #5cb89c;
  }
  